
/*Add a black background to the page*/
body {
  font-family: Comic Sans MS;
  padding: 15px;
  background: black;
}

.heading {
  background-image: url("/images/chi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  font-size: 30px;
  text-align: center;
  color: white;
}

/*Split the content into two sections down the body*/
.left {
  width: 60%;
  float: left;
}

/*Add a space between columns*/
.right {
  width: 40%;
  padding-left: 15px;
  float: left;
}

/*Each stack is a container box in the body*/
.stack {
  background-color: pink;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
}

/*Stack style for About Me*/
.abm {
  background-image: url("/images/uic.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

/*Stack style for Let's Compare*/
.compare {
  background-image: url("/images/canoe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

/*Stack style for Projects*/
.proj {
  background-image: url("/images/blue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

/*Stack style for Vacations*/
.travel {
  background-image: url("/images/tree.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

/*Stack style for Social Media*/
.media {
  background-image: url("/images/link.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

/*Stack style for Coursework*/
.course {
  background-image: url("/images/class.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

/*Stack style for Skills*/
.skill {
  background-image: url("/images/skill.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 15px;
}

.line:after {
  content: "";
  display: table;
  clear: both;
}

/*Orientation side-by-side*/
* {
  box-sizing: border-box;
}

/*Preference buttons for Let's Compare section*/
.button {
  text-align: center;
  font-size: 20px;
  color:rgb(73, 38, 138);
  padding: 20px 20px;
  margin-top: 10px;
}